@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

:root {
    --primary: rgba(254, 44, 85, 1);
    --black: #000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed; //Giúp font tối ưu render UI

    // tippy style
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        border-radius: 8px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
    }

    .tippy-content {
        font-weight: 500;
        padding: 8px;
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow::before {
        top: -8px;
    }
}

input,
button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}

a {
    color: var(--black);
    text-decoration: none;
}
